# Virtualenv folders
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django database files
*.sqlite3

# Environment variables
.env

# Static and media files
/static/
/media/

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Compiled assets (optional)
*.sass-cache/
*.scss-cache/
node_modules/

# macOS and Linux files
*.DS_Store
